<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google SignIn</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body style="background: whitesmoke;">
    <h1 style="text-align: center;background: beige;padding: 0.5em;">Developer Help & Shortcuts</h1>

    <div style="background: white;
    border: 1px solid lightgrey;
    border-radius: 1em;
    padding: 0.5em;
    ">
        <label for="test-google-login">Test your login with this button : </label>
        <button name="test-google-login" onclick="window.location.href='/login'">
            Test Google Login
        </button>
    </div>
    
</body>
</html>